*.png
preprocess/plots/
__pycache__/
pipeline_dataset/.ipynb_checkpoints/
sen2naip_eval/*.json
ssr/data/.ipynb_checkpoints/
test_sen2naip/
sen2naip_eval/sen2naip_meta_old.json.gz
sen2naip_eval/.env
.Trash-1000/
sen2naip_eval/.ipynb_checkpoints/

# Mac specific
.DS_Store